
<div class="text-center">
    <h1 class="text-info"> Your Confirmation</h1>
    <p>
       itae proin sagittis nisl rhoncus mattis. Lectus vestibulum mattis ullamcorper velit 
    </p>
    <img src="/images/patio.jpg" width="80%" />
</div>